@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

/*Clearfix*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.jumbotron {
  min-height: 100vh;
  background-image: url(http://i66.tinypic.com/33f6q1j.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 0 auto;
}

.jumbotron nav {
  padding: 0 50px;
}

.jumbotron nav .navbar-brand {
  line-height: 40px;
}

@media only screen and (min-width: 992px) {
  .jumbotron nav .navbar-brand {
    padding-left: 200px;
  }
}

.jumbotron nav .navbar-brand img {
  height: 25px;
}

.jumbotron nav .nav-item {
  padding: 0 20px;
  text-align: center;
}

.jumbotron nav .navbar-nav a {
  color: #fff;
}

.jumbotron nav .navbar-nav .dropdown-item {
  color: #000;
}

.jumbotron nav .navbar-toggler-icon {
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron nav input {
  padding: 12px 30px;
  border-radius: 22px;
}

.jumbotron nav .btn {
  background-color: transparent;
  position: absolute;
  transform: translate(11rem);
  color: #ccc;
}

.jumbotron .jumbotron-content {
  color: #fff;
  transform: translateY(50%);
}

@media only screen and (min-width: 768px) {
  .jumbotron .jumbotron-content {
    transform: translateY(50%);
    width: 40%;
    text-align: right;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotron .jumbotron-content {
    width: 40%;
    text-align: right;
    transform: translateY(100%);
  }
}

@media only screen and (min-width: 768px) {
  .jumbotron .jumbotron-content h1 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .jumbotron .jumbotron-content h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotron .jumbotron-content h1 {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

.jumbotron .jumbotron-content .btn {
  background-color: #8824cd;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  font-weight: 700;
  color: #fff;
  line-height: 20px;
  border-radius: 30px;
  font-size: 90%;
}

@media only screen and (min-width: 1200px) {
  .jumbotron .jumbotron-content .btn {
    width: 15vw;
    font-size: 18px;
    line-height: 40px;
  }
}

.jumbotron .jumbotron-content p {
  font-size: 12px;
  padding-top: 10px;
}

@media only screen and (min-width: 1200px) {
  .jumbotron .jumbotron-content p {
    font-size: 12px;
    line-height: 17px;
    margin-right: 25px;
    padding-top: 10px;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #2e3b4e;
  color: #fff;
  line-height: 25px;
  padding-top: 25px;
  position: relative;
}

.about h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 25px;
}

.about p {
  font-size: 15px;
}

.shape {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .shape {
    background-color: transparent;
    transform: translateY(-37px);
    display: inline-block;
    right: 48%;
    position: absolute;
  }
}

.bang {
  background-color: #e7526b;
  position: relative;
  min-height: 50vh;
}

.bang .bang-layer {
  background-image: url(http://i68.tinypic.com/eju89l.png);
  background-size: cover;
  background-position: top center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
}

.bang .bang-header {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-direction: column;
  color: #fff;
}

.bang .bang-header h2 {
  font-size: 35px;
  line-height: 60px;
}

.bang .bang-header p {
  font-size: 15px;
  line-height: 26px;
}

.bang .bang-header .btn {
  border-radius: 30px;
  background-color: #fff;
  color: #e7526b;
  font-weight: 700;
  font-size: 90%;
  line-height: 20px;
}

@media only screen and (min-width: 1200px) {
  .bang .bang-header .btn {
    width: 15vw;
    font-size: 18px;
    line-height: 40px;
  }
}

.content {
  color: #3a4d60;
}

.content [class*='col-'] {
  padding: 0;
}

.content .content-pic {
  background-image: url(http://i63.tinypic.com/eaoxgm.png);
  background-size: cover;
  background-position: top center;
  min-height: 50vh;
}

.content .content-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .content .content-text {
    margin: 0 110px;
  }
}

.content .content-text h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
}

.content .content-text .content-first-text {
  font-size: 19px;
  line-height: 31px;
}

.content .content-text .content-second-text {
  line-height: 26px;
  margin-top: 50px;
}

.experience {
  background-image: url(http://i67.tinypic.com/2n9i3ki.jpg);
  min-height: 60vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.experience .experience-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #521a66;
  opacity: 0.8;
}

.experience .experience-header {
  color: #fff;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-direction: column;
}

.experience .experience-header h2 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 30px;
}

.experience .experience-header p {
  color: #a87bb7;
  font-size: 20px;
  line-height: 33px;
}

.experience .experience-header .under-button {
  font-size: 12px;
  padding-top: 10px;
  color: #fff;
}

@media only screen and (min-width: 1200px) {
  .experience .experience-header .under-button {
    font-size: 12px;
    line-height: 17px;
    padding-top: 10px;
  }
}

.experience .btn {
  background-color: #8824cd;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  font-weight: 700;
  color: #fff;
  line-height: 20px;
  border-radius: 30px;
  border: none;
  font-size: 90%;
  margin-top: 20px;
}

@media only screen and (min-width: 1200px) {
  .experience .btn {
    width: 15vw;
    font-size: 18px;
    line-height: 40px;
  }
}

.photography {
  background: linear-gradient(rgba(0, 0, 0, 0), #494949), url(http://i65.tinypic.com/1zq67ly.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  margin-bottom: 200px;
  position: relative;
}

.photography .photography-layer {
  position: absolute;
  color: #fff;
}

@media (max-width: 575.98px) {
  .photography .photography-layer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .photography .photography-layer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1200px) {
  .photography .photography-layer {
    left: 15%;
    bottom: 20%;
  }
}

.photography .photography-layer .btn {
  background-color: transparent;
  color: #fff;
  border-radius: 18px;
  border: 2px solid #ffffff;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}

.photography .photography-layer h2 {
  font-size: 20px;
  line-height: 30px;
}

@media only screen and (min-width: 768px) {
  .photography .photography-layer h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .photography .photography-layer h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}

.photography .photography-layer .social {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.photography .photography-layer .social img {
  margin-right: 15px;
  cursor: pointer;
}

.photography .photography-layer .social p {
  margin: 0;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */