@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

/*Clearfix*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.jumbotron {
  min-height: 90vh;
  background-image: url(http://i66.tinypic.com/33f6q1j.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 0 auto;
}

.jumbotron nav {
  padding: 0 50px;
}

.jumbotron nav .navbar-brand {
  line-height: 40px;
}

@media only screen and (min-width: 992px) {
  .jumbotron nav .navbar-brand {
    padding-left: 200px;
  }
}

.jumbotron nav .navbar-brand img {
  height: 25px;
}

.jumbotron nav .nav-item {
  padding: 0 20px;
  text-align: center;
}

.jumbotron nav .navbar-nav a {
  color: #fff;
}

.jumbotron nav .navbar-nav .dropdown-item {
  color: #000;
}

.jumbotron nav .navbar-toggler-icon {
  background-color: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron nav input {
  padding: 12px 30px;
  border-radius: 22px;
}

.jumbotron nav .btn {
  background-color: transparent;
  position: absolute;
  -webkit-transform: translate(11rem);
          transform: translate(11rem);
  color: #ccc;
}

.jumbotron .jumbotron-content {
  color: #fff;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media only screen and (min-width: 768px) {
  .jumbotron .jumbotron-content {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: 40%;
    text-align: right;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotron .jumbotron-content {
    width: 40%;
    text-align: right;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@media only screen and (min-width: 768px) {
  .jumbotron .jumbotron-content h1 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .jumbotron .jumbotron-content h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .jumbotron .jumbotron-content h1 {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

.jumbotron .jumbotron-content .btn {
  background-color: #8824cd;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  font-weight: bold;
  color: #fff;
  line-height: 20px;
  border-radius: 30px;
  font-size: 90%;
}

@media only screen and (min-width: 1200px) {
  .jumbotron .jumbotron-content .btn {
    width: 15vw;
    font-size: 18px;
    line-height: 40px;
  }
}

.jumbotron .jumbotron-content p {
  font-size: 12px;
  padding-top: 10px;
}

@media only screen and (min-width: 1200px) {
  .jumbotron .jumbotron-content p {
    font-size: 12px;
    line-height: 17px;
    margin-right: 25px;
    padding-top: 10px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  background-color: #2e3b4e;
  color: #fff;
  line-height: 25px;
  padding-top: 25px;
}

.about h5 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 25px;
}

.about p {
  font-size: 15px;
}

.shape {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .shape {
    background-color: transparent;
    -webkit-transform: translateY(-37px);
            transform: translateY(-37px);
    display: inline-block;
    right: 48%;
    position: absolute;
  }
}

.bang {
  background-image: url(http://i68.tinypic.com/eju89l.png);
  background-repeat: no-repeat;
  min-height: 80vh;
}
/*# sourceMappingURL=style.prefixed.css.map */